* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



form {
    display: flex;
    padding: 10px;
    background: #eee;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    background: #fff;
    border: none;
    border-radius: 10px;
}

button {
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background: #007BFF;
    color: white;
}



#messagesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 16px;
}

.user-message {
    align-self: flex-end;
    background-color: #007BFF;
    /* Blue background */
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot-message {
    align-self: flex-start;
    background-color: #f0f0f0;
    /* Grey background */
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}